@model GCDS.Models.LicenseOperateGamingMachine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LicenseOperateGamingMachine</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.AMLCompanyProfileId)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TimeStamp)
        @Html.HiddenFor(model => model.Is_Deleted)
        @Html.HiddenFor(model => model.)


        <div class="form-group">
            <span class="control-label col-md-6">Full name of applicant</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullNameOfApplicant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullNameOfApplicant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Address</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Nationality</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Make of machine </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MakeOfMachine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MakeOfMachine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Serial number</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Date of importation</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfImportation, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOfImportation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Particulars of import license</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParticularsOfImportLicense, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParticularsOfImportLicense, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Country of origin</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryOfOrigin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CountryOfOrigin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Cost of machine</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CostOfMachine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CostOfMachine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Amount of custom duty paid</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountOfCustomDutyPaid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmountOfCustomDutyPaid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Receipt number of custom duty paid</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiptNumberOfCustomDutyPaid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReceiptNumberOfCustomDutyPaid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Income tax clearance certificate number</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncomeTaxClearanceCertificateNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncomeTaxClearanceCertificateNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Number of previous license</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfPreviousLicense, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfPreviousLicense, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Previous license issued by</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousLicenseIssuedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreviousLicenseIssuedBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Fee paid for previous license</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FeePaidForPreviousLicense, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FeePaidForPreviousLicense, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Date of expiry for previous license</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfExpiryForPreviousLicense, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOfExpiryForPreviousLicense, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Name of proposed premises for machine</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameOfProposedPremisesForMachine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameOfProposedPremisesForMachine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Proposed town or city for machine</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProposedTown_CityForMachine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProposedTown_CityForMachine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Name of present premises for machine</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameOfPresentPremisesForMAchine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameOfPresentPremisesForMAchine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Present town or city for machine</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PresentTown_CityForMachine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PresentTown_CityForMachine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Proposed location owned by applicant</span>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Is_ProposedLocationOwnedByApplicant)
                    @Html.ValidationMessageFor(model => model.Is_ProposedLocationOwnedByApplicant, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Description of acquiring location</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionOfAcquiringLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescriptionOfAcquiringLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Number of present gambling machines owned</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfPresentGamblingMachinesOwned, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfPresentGamblingMachinesOwned, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">True owner of machine</span>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Is_TrueOwnerOfMachine)
                    @Html.ValidationMessageFor(model => model.Is_TrueOwnerOfMachine, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"> Upload Signature (Scan your signed signature on a white paper and upload the image file)</span>
            <div class="col-md-10">
                @Html.TextBox("file", "", new { type = "file", @class = "custom-file-input" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-6">Signature Date</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SignatureDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.SignatureDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modify" class="btn btn-default" />
                <a title="Back to List" id="sample_editable_1_new" href="@Url.Action("Index", "LicenseOperateGamingMachines")" class="btn btn-warning"><i class='fa fa-align-justify'></i> Back to List</a>
            </div>
        </div>
    </div>
}
            </div>
        </div>
    </div>

</div>
    </div>
<!-- end:: Body -->    
}
