@model GCDS.Models.AMLAgreement

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    AML Agreement
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                License Registration
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                AML Form
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Modify AML Agreement
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-plus m--hide"></i>
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first m--hide">
                                            <span class="m-nav__section-text">
                                                Quick Actions
                                            </span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">
                                                    Activity
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">
                                                    Messages
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">
                                                    FAQ
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">
                                                    Support
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                        <li class="m-nav__item">
                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                Submit
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.AMLCompanyProfileID)
                        @Html.HiddenFor(model => model.Is_Deleted)
                        @Html.HiddenFor(model => model.TimeStamp)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.AMLCompanyProfile)
                        @Html.HiddenFor(model => model.User)
                        


                        <div class="form-group">

                            <span class="control-label col-md-6">Details of any agreement relating to the ownership</span>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.OwnershipDescription, new { cols = 60, rows = 10, @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OwnershipDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Details of any agreement relating to operation of the Casino</span>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.OperationDescription, new { cols = 60, rows = 10, @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OperationDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Details of any agreement relating to Development of the Company</span>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.DevelopmentDescription, new { cols = 60, rows = 10, @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DevelopmentDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Details of any agreement relating to the facilitation  of the Company</span>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.FacilitationDescription, new { cols = 60, rows = 10, @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FacilitationDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="control-label col-md-6">Details of any agreement relating to any right or interest of the Company</span>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.RightOrInterestDescription, new { cols = 60, rows = 10, @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RightOrInterestDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Modify" class="btn btn-info" />
                                <a title="Load Goods Reciept" id="sample_editable_1_new" href="@Url.Action("Index", "AMLAgreements")" class="btn btn-warning"><i class='fa fa-align-justify'></i> Back to List</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</div>
    </div>
<!-- end:: Body -->