@model GCDS.Models.PNFCompanyProfile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PNFCompanyProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMLCompanyProfile.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMLCompanyProfile.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PNFPersonalDetails.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PNFPersonalDetails.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAddressOfCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAddressOfCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNumberOfCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNumberOfCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNameOfCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNameOfCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownOfCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownOfCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PopularSpotCloseToCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PopularSpotCloseToCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfIncorporation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfIncorporation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfInitialWorkForce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfInitialWorkForce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfBankers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfBankers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressOfBankers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOfBankers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfAuditors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfAuditors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressOfAuditors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOfAuditors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfOtherCompanyDirectors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfOtherCompanyDirectors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressofOtherCompanyDirectors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressofOtherCompanyDirectors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonsForEstablishingCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonsForEstablishingCompany)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
