@model GCDS.Models.PNFCompanyProfile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                   PNF Company Profiles
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                License Registration
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                AML Form
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                PNF Company Profile Details
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-plus m--hide"></i>
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first m--hide">
                                            <span class="m-nav__section-text">
                                                Quick Actions
                                            </span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">
                                                    Activity
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">
                                                    Messages
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">
                                                    FAQ
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">
                                                    Support
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                        <li class="m-nav__item">
                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                Submit
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="modal-body">
                    <table class="table table-responsive table-scrollable-borderless">
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Gaming Operator Name</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.AMLCompanyProfile.Name)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Surname</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PNFPersonalDetails.Surname)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>User ID</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.UserID)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Name of Company</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.NameOfCompany)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Business Address of Company</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.BusinessAddressOfCompany)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>House number of Company</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HouseNumberOfCompany)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Street name of Company</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.StreetNameOfCompany)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Town of Company</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.TownOfCompany)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Date of Incorporation</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.DateOfIncorporation)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Popular spot close to company</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PopularSpotCloseToCompany)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Registration Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.RegistrationNumber)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Number of initial workforce</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.NumberOfInitialWorkForce)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Name of bankers</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.NameOfBankers)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Address of  bankers</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.AddressOfBankers)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Name of auditors</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.NameOfAuditors)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Address of Auditors</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.AddressOfAuditors)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Name of other company directors</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.NameOfOtherCompanyDirectors)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Address of other company directors</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.AddressofOtherCompanyDirectors)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Reasons for establishing company</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.ReasonsForEstablishingCompany)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Timestamp</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.TimeStamp)</dd>
                                </dl>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-Info" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-warning" })
                </div>

            </div>

        </div>
    </div>
</div>

</div>
    </div>
<!-- end:: Body -->