@model GCDS.Models.License

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>License</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMLCompanyProfile.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMLCompanyProfile.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIssued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateWithdrawn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateWithdrawn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WithdrawnBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithdrawnBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
