@model GCDS.Models.OffCourtCaseReport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OffCourtCaseReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OffCourtCase.LitigationReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffCourtCase.LitigationReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportAttachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportAttachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
