@model GCDS.Models.ImportGamingMachine

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ImportGamingMachine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMLCompanyProfile.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMLCompanyProfile.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamingEquipment.EquipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamingEquipment.EquipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullNameOfApplicant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameOfApplicant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakeOfMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeOfMachine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostOfMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostOfMachine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_MachineImportForResale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_MachineImportForResale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfProposedPremisesForMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfProposedPremisesForMachine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedTown_CityForMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedTown_CityForMachine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfPresentPremisesForMAchine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfPresentPremisesForMAchine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentTown_CityForMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentTown_CityForMachine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPresentGamblingMachinesLicense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPresentGamblingMachinesLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_TrueOwnerOfMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_TrueOwnerOfMachine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfExpiryOfPresentLicense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfExpiryOfPresentLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImportationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImportationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
