@model GCDS.Models.PNFReferees

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    PNF Referee Manager
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Index
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>

                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Modify PNF Referee
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-plus m--hide"></i>
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first m--hide">
                                            <span class="m-nav__section-text">
                                                Quick Actions
                                            </span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">
                                                    Activity
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">
                                                    Messages
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">
                                                    FAQ
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">
                                                    Support
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                        <li class="m-nav__item">
                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                Submit
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">



                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>PNFReferees</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.AMLCompanyProfile)
                        @Html.HiddenFor(model => model.AMLCompanyProfileId)
                        @Html.HiddenFor(model => model.Is_Deleted)
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.PNFPersonalDetails)
                        @Html.HiddenFor(model => model.PNFPersonalDetailsId)
                        @Html.HiddenFor(model => model.TimeStamp)
                        

                        <div class="form-group">
                            <span class="control-label col-md-6">Fullname of Associate</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullNameOfAssociate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullNameOfAssociate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Business address of Associate</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BusinessAddressOfAssociate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BusinessAddressOfAssociate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Popular spot close to residence of associate</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PopularSpotCloseToResidenceOfAssociate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PopularSpotCloseToResidenceOfAssociate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Residential address of associate</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ResidentialAddressOfAssociate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ResidentialAddressOfAssociate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Is the associate a student?</span>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Is_Student)
                                    @Html.ValidationMessageFor(model => model.Is_Student, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Hall of residence of student associate</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.HallOfResidenceOfStudentAssociate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HallOfResidenceOfStudentAssociate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Current designation of associate</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CurrentDesignationOfAssociate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CurrentDesignationOfAssociate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Fullname of character referee</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullNameOfCharacterReferee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullNameOfCharacterReferee, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Business address of character referee</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BusinessAddressOfChararcterReferee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BusinessAddressOfChararcterReferee, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Residential address of character referee</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ResidentialAddressOfChararcterReferee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ResidentialAddressOfChararcterReferee, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Popular spot close to residence of character referee</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PopularSpotCloseToResidenceOfChararcterReferee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PopularSpotCloseToResidenceOfChararcterReferee, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">telephone number of character referee</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TelephoneNumberOfCharacterReferee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TelephoneNumberOfCharacterReferee, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">E-mail address of character referee</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EmailAddressOfCharacterReferee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EmailAddressOfCharacterReferee, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="control-label col-md-6">Current designation of character referee</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CurrentDesignationOfCharacterReferee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CurrentDesignationOfCharacterReferee, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Modify" class="btn btn-info" />
                                <a title="Back to List" id="sample_editable_1_new" href="@Url.Action("Index", "PNFReferees")" class="btn btn-warning"><i class='fa fa-align-justify'></i> Back to List</a>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</div>
    </div>
<!-- end:: Body -->