@model GCDS.Models.PNFEducationHistory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    PNF Education History Manager
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Index
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>

                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Modify PNF Education History
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-plus m--hide"></i>
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first m--hide">
                                            <span class="m-nav__section-text">
                                                Quick Actions
                                            </span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">
                                                    Activity
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">
                                                    Messages
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">
                                                    FAQ
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">
                                                    Support
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                        <li class="m-nav__item">
                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                Submit
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">



                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>PNFEducationHistory</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.AMLCompanyProfile)
                        @Html.HiddenFor(model => model.AMLCompanyProfileId)
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Is_Deleted)
                        @Html.HiddenFor(model => model.PNFPersonalDetails)
                        @Html.HiddenFor(model => model.PNFPersonalDetailsId)
                        @Html.HiddenFor(model => model.TimeStamp)
                        @Html.HiddenFor(model => model.UserID)
                        
                        


                        <div class="form-group">
                            <span class="control-label col-md-6">Name of Senior Secondary School</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NameOfSeniorSecondarySchool, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NameOfSeniorSecondarySchool, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Address of Senior Secondary School</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AddressOfSeniorSecondarySchool, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AddressOfSeniorSecondarySchool, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Date of starting to attend Senior Secondary School</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DateBeganSeniorSecondarySchool, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.DateBeganSeniorSecondarySchool, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Date of completing Senior Secondary School</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DateCompletedSeniorSecondarySchool, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateCompletedSeniorSecondarySchool, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Qualification achieved from Senior Secondary School</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.QualificationAchievedFromSeniorSecondarySchool, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QualificationAchievedFromSeniorSecondarySchool, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Grades achieved from Senior Secondary School</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.GradesAchievedFromSeniorSecondarySchool, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GradesAchievedFromSeniorSecondarySchool, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Name of College</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NameOfCollege, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NameOfCollege, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Address of College</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AddressOfCollege, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AddressOfCollege, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Date of starting to attend College</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DateBeganCollege, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.DateBeganCollege, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Date of completing College</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DateCompletedCollege, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateCompletedCollege, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Qualification achieved from College</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.QualificationAchievedFromCollege, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QualificationAchievedFromCollege, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Grades achieved from College</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.GradesAchievedFromCollege, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GradesAchievedFromCollege, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Name of Higher or Professional or Vocational Institution</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NameOfHigher_Prof_VocInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NameOfHigher_Prof_VocInstitution, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Is it full-time study?</span>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Is_FullTimeStudy)
                                    @Html.ValidationMessageFor(model => model.Is_FullTimeStudy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Is it part-time study?</span>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Is_PartTimeStudy)
                                    @Html.ValidationMessageFor(model => model.Is_PartTimeStudy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Address of Higher or Professional or Vocational Institution</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AddressOfHigher_Prof_VocInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AddressOfHigher_Prof_VocInstitution, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Date attended Higher or Professional or Vocational Institution</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DateAttendedHigher_Prof_VocInstitution, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.DateAttendedHigher_Prof_VocInstitution, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Subjects studied at Higher or Professional or Vocational Institution</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SubjectsStudiedAtHigher_Prof_VocInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SubjectsStudiedAtHigher_Prof_VocInstitution, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Degree Title Obtained from Higher or Professional or Vocational Institution</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DegreeTitleFromHigher_Prof_VocInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DegreeTitleFromHigher_Prof_VocInstitution, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Grades achieved from Higher or Professional or Vocational Institution</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.GradesAchievedFromHigher_Prof_VocInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GradesAchievedFromHigher_Prof_VocInstitution, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-6">Qualification achieved from Higher or Professional or Vocational Institution</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.QualificationAchievedFromHigher_Prof_VocInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QualificationAchievedFromHigher_Prof_VocInstitution, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Modify" class="btn btn-info" />
                                <a title="Back to List" id="sample_editable_1_new" href="@Url.Action("Index", "PNFEducationHistories")" class="btn btn-warning"><i class='fa fa-align-justify'></i> Back to List</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</div>
    </div>
<!-- end:: Body -->