@model GCDS.Models.GamingEquipment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GamingEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMLCompanyProfile.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMLCompanyProfile.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAquisition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAquisition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentSerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentSerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurposeOfEquipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurposeOfEquipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentManfacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentManfacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
