@model GCDS.Models.Memo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Memo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMLCompanyProfile.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMLCompanyProfile.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
