@model GCDS.Models.InspectionTeamMembers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InspectionTeamMembers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InspectionOfficer.InspectionOfficerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionOfficer.InspectionOfficerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionTeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionTeamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
