@model GCDS.Models.PNFEducationHistory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PNFEducationHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMLCompanyProfile.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMLCompanyProfile.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PNFPersonalDetails.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PNFPersonalDetails.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfSeniorSecondarySchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfSeniorSecondarySchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressOfSeniorSecondarySchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOfSeniorSecondarySchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBeganSeniorSecondarySchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBeganSeniorSecondarySchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCompletedSeniorSecondarySchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCompletedSeniorSecondarySchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualificationAchievedFromSeniorSecondarySchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualificationAchievedFromSeniorSecondarySchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradesAchievedFromSeniorSecondarySchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradesAchievedFromSeniorSecondarySchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfCollege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfCollege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressOfCollege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOfCollege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBeganCollege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBeganCollege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCompletedCollege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCompletedCollege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualificationAchievedFromCollege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualificationAchievedFromCollege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradesAchievedFromCollege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradesAchievedFromCollege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfHigher_Prof_VocInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfHigher_Prof_VocInstitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_FullTimeStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_FullTimeStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_PartTimeStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_PartTimeStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressOfHigher_Prof_VocInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOfHigher_Prof_VocInstitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAttendedHigher_Prof_VocInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAttendedHigher_Prof_VocInstitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectsStudiedAtHigher_Prof_VocInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectsStudiedAtHigher_Prof_VocInstitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeTitleFromHigher_Prof_VocInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeTitleFromHigher_Prof_VocInstitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradesAchievedFromHigher_Prof_VocInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradesAchievedFromHigher_Prof_VocInstitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualificationAchievedFromHigher_Prof_VocInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualificationAchievedFromHigher_Prof_VocInstitution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
