@model GCDS.Models.PNFContactInformation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    PNF Contact Information
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                License Registration
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                AML Form
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                PNF Contact Information Details
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-plus m--hide"></i>
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first m--hide">
                                            <span class="m-nav__section-text">
                                                Quick Actions
                                            </span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">
                                                    Activity
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">
                                                    Messages
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">
                                                    FAQ
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">
                                                    Support
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                        <li class="m-nav__item">
                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                Submit
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="modal-body">
                    <table class="table table-responsive table-scrollable-borderless">
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Gaming Operator Name</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.AMLCompanyProfile.Name)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>User ID</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.UserID)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Current Residential Address</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.CurrentResidentialAddress)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>House Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HouseNumber)</dd>
                                </dl>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Email Address</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.EmailAddress)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Street</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.Street)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Suburb</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.Suburb)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Town</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.Town)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>District</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.District)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>State</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.State)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Region</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.Region)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Popular spots or personality near residence</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PopularSpotsOrPersonalityNearResidence)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Home Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HomeNumber)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Mobile Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.MobileNumber)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Fax Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.FaxNumber)</dd>
                                </dl>
                            </td>
                        </tr>

    

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>E-mail Address</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.EmailAddress)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Correspondence Address</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.CorrespondenceAddress)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Previous Residence Address</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PreviousResidenceAddress)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Previous House Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PreviousHouseNumber)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Previous Street</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PreviousStreet)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Previous Town</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PreviousTown)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Previous District</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PreviousDistrict)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Previous Region</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.PreviousRegion)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Hometown Address</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HomeTownAddress)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Hometown House Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HomeTownHouseNumber)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Hometown street</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HomeTownStreet)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Hometown Name</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HomeTownName)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Hometown district</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HomeTownDistrict)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Hometown region</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.HomeTownRegion)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Employment Address</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.EmploymentAddress)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Business Name</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.BusinessName)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Business Street Name</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.BusinessStreetName)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Business Town</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.BusinessTown)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Business State</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.BusinessState)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Business Region</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.BusinessRegion)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Any close popular spot to business</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.AnyClosePopularSpotToBusiness)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Employer's Telephone Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.EmployersTelephoneNumber)</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Employer's Fax Number</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.EmployersFaxNumber)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Employer's E-mail Address</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.EmployesEmailAddress)</dd>
                                </dl>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <dl>
                                    <dt class="col-md-4"><strong>Timestamp</strong></dt>
                                    <dd class="font-md">@Html.DisplayFor(model => model.TimeStamp)</dd>
                                </dl>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-Info" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-warning" })
                </div>

            </div>

        </div>
    </div>
</div>

</div>
    </div>
<!-- end:: Body -->