@model IEnumerable<GCDS.Models.PNFExamsTaken>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AMLCompanyProfile.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PNFPersonalDetails.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfExam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfExaminingAuthority_Board)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndexNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultOfExam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceOFExam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfExam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AMLCompanyProfile.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PNFPersonalDetails.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfExam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfExaminingAuthority_Board)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndexNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultOfExam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceOFExam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfExam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
